@model ICollection<UserWatchlistViewModel>

@{
    if (Model.Count > 0)
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-6">
                        <h4>Name</h4>
                    </div>

                    <div class="col-xs-6">
                        <h4>Beaches Count</h4>
                    </div>
                </div>

                <hr />

                <div class="watchlists-wrapper row">
                    @Html.DisplayForModel()
                </div>
            </div>
        </div>        
    }
    else
    {
        <h4>No watchlists</h4>
    }
}
