@{
    ViewBag.Title = "Control Panel";
}

<div class="custom-canvas col-sm-6 col-sm-offset-3 col-xs-12">
    <h2>Control Panel</h2>

    <div class="row">
        <div class="col-xs-12 pull-left">
            @using (Html.BeginForm("RecalculateUserLevelsAndBeachScores", "Admin", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <input type="submit" class="btn btn-cta"
                       onclick="return confirm('Proceed?');" value="Recalculate user levels and beach scores" />
            }
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 pull-left">
            @using (Html.BeginForm("RegenerateSitemap", "Admin", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <input type="submit" class="btn btn-cta" onclick="return confirm('Proceed?');" value="Regenerate sitemap" />
            }
        </div>
    </div>
</div>

@section AdminStyles{
    @Styles.Render("~/Content/Internal/admin.css")
}