@model IndexViewModel

@Styles.Render("~/Content/Internal/manage.css")

<div class="settings-container custom-canvas col-xs-6 col-xs-offset-3">
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Account settings</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Avatar:</dt>
            <dd class="text-left">
                <a data-index="avatar">Change</a>
            </dd>
            <dt>Password:</dt>
            <dd class="text-left">
                <a data-index="password">Change</a>
            </dd>
        </dl>
    </div>
</div>

@Scripts.Render("~/Scripts/Internal/dashboard.js")