@model IndexViewModel

@Styles.Render("~/Content/Internal/dashboard.css")

<div class="settings-container custom-canvas col-xs-6 col-xs-offset-3">
    <p id="action-message-box" class="text-info">@ViewBag.StatusMessage</p>
    <div>
        <h3>Account settings</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>Avatar:</dt>
            <dd class="text-left">
                <a data-index="avatar">Change</a>
            </dd>
            <dt>Password:</dt>
            <dd class="text-left">
                <a data-index="password">Change</a>
            </dd>
        </dl>
    </div>
</div>

@Scripts.Render("~/Scripts/Internal/dashboard.js")