<div class="wrapper">
    <legend>Edit Beach</legend>
    <p>
        <input #name type="text" placeholder="Name" [(ngModel)]="model.name" />
    </p>
    <fieldset>
        <div>
            <select #countryList (change)="onCountryChanged($event)">
                <option value="0">Select a country</option>
                <option *ngFor="let country of countries" [value]="country.id">
                    {{ country.name }}
                </option>
            </select>
        </div>
        <div *ngIf="l1s">
            <select #l1List (change)="onL1Changed($event)">
                <option value="0">Select a region</option>
                <option *ngFor="let l1 of l1s" [value]="l1.id">
                    {{ l1.name }}
                </option>
            </select>
        </div>
        <div *ngIf="l2s">
            <select #l2List (change)="onL2Changed($event)">
                <option value="0">Select a region</option>
                <option *ngFor="let l2 of l2s" [value]="l2.id">
                    {{ l2.name }}
                </option>
            </select>
        </div>
        <div *ngIf="l3s">
            <select #l3List (change)="onL3Changed($event)">
                <option value="0">Select a region</option>
                <option *ngFor="let l3 of l3s" [value]="l3.id">
                    {{ l3.name }}
                </option>
            </select>
        </div>
        <div *ngIf="l4s">
            <select (change)="onL4Changed($event)">
                <option value="0">Select a region</option>
                <option *ngFor="let l4 of l4s" [value]="l4.id">
                    {{ l4.name }}
                </option>
            </select>
        </div>
        <p>
            <input #coordinates type="text" placeholder="Coordinates" [(ngModel)]="model.coordinates" />
        </p>
    </fieldset>
    <input type="button" (click)="submit()" value="Submit" />
</div>