body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

input,
select {
    /*max-width: 280px;*/
}

.img-container {
    width: 100px;
    height: 100px;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.col-no-padding {
    padding: 0;
}

.disable-block {
    display: inline;
}

.autocomplete-box {
    border-radius: 0 0 2px 2px;
    background-color: white;
    text-align: left;
}

.autocomplete-box ul {
    list-style-type: none;
    padding: 5px;
}

.autocomplete-box ul:first-child {
    border-top: 1px solid black;
}

.autocomplete-item a {
    display: block;
    text-decoration: none;
}

.autocomplete-item:hover {
    background-color: lightgray;
}

.custom-focus:focus {
    box-shadow: 0 0 10px black;
}