<div class="new-watchlist-box row">
    <div class="col-xs-12">
        <div class="new-btn-container row">
            <div class="new-watchlist-btn a-like-span concise-watchlist-new control col-xs-12">
                <span class="glyphicon glyphicon-plus"></span>
                <span>New watchlist</span>
            </div>
        </div>

        <div class="row new-watchlist-form watchlist-cancel display-none">
            <div class="col-xs-12">
                <label>Name</label>
                <input class="new-watchlist-name form-control" type="text" />
            </div>

            <div class="col-xs-12">
                <input type="button" class="submit-new-watchlist btn btn-cta-shadow" value="Add" />
                <input type="button" data-cancel-watchlist="" class="btn btn-reset" value="Cancel" />
            </div>
        </div>
    </div>
</div>
