@model ConciseWatchlistViewModel

<div class="watchlist-overview-container custom-canvas">
    @Html.HiddenFor(m => m.BeachId, new { data_beach_id = Model.BeachId })
    <h3>Add to watchlist</h3>

    <hr class="hr-delimiter" />

    @using (Ajax.BeginForm("AdjustWatchlists", "Watchlists",
        new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "watchlist-update-result",
            OnSuccess = "watchlistsHelper.onUpdateWatchlists"
        }))
    {
        <div class="watchlist-list-item-container row">
            @Html.DisplayFor(m => m.Watchlists)
        </div>

        <div class="concise-watchlist-update row">
            <span id="watchlist-update-result"></span>
        </div>
    }

    <hr class="hr-delimiter" />

    @Html.Partial("_AddWatchlistPartial")
</div>