@{ 
    this.Layout = "_Layout.cshtml";
}

<div class="custom-error-container custom-canvas col-sm-6 col-sm-offset-3 col-xs-12">
    <h4 class="text-danger">
        This page does not exist. If you think it does, let us know <a href="/About/Contact">here</a>.
    </h4>
    <h5 class="text-danger">
        Otherwise, our developers have messed something up. They've been notified.
    </h5>
</div>