@model StatsHeadViewModel

<div class="row">
    <div class="col-xs-12">
        <h2>
            @Model.Name

            @{
                if (!string.IsNullOrEmpty(Model.Controller))
                {
                    <a href="/@Model.Controller/@Model.Action/@Model.Id" title="Toggle view"
                       class="toggle-view glyphicon @(Model.Action == "Beaches" ? "glyphicon-picture" : "glyphicon glyphicon-th-list")"></a>
                }
            }
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <span class="trademark-small">@System.Configuration.ConfigurationManager.AppSettings["Trademark"]</span>
        @Html.PluralizeValue(Model.TotalBeachesCount, "beach")
    </div>
</div>
