@model IEnumerable<TableRowViewModel>

<div class="col-xs-12 table-responsive">
    <table id="table-result" class="display compact cell-border">
        <thead>
            <tr>
                <th class="place-head"><input type="text" data-filter="beach" class="column-filter" placeholder="Filter" />Beach</th>
                <th class="place-head"><input type="text" data-filter="country" class="column-filter" placeholder="Filter" />Country</th>
                <th class="place-head"><input type="text" data-filter="region" class="column-filter" placeholder="Filter" />Region</th>
                <th class="place-head">Area</th>
                <th class="place-head">Sub-area</th>
                <th class="place-head">Locality</th>
                <th class="place-head">Waterbody</th>
                <th class="place-head">Score</th>
                <th><div class="criterion-head">Sand Quality</div></th>
                <th><div class="criterion-head">Beach Cleanliness</div></th>
                <th><div class="criterion-head">Beautiful Scenery</div></th>
                <th><div class="criterion-head">Crowd-free</div></th>
                <th><div class="criterion-head">Infrastructure</div></th>
                <th><div class="criterion-head">Water Purity</div></th>
                <th><div class="criterion-head">Waste-free Seabed</div></th>
                <th><div class="criterion-head">Feet-friendly Bottom</div></th>
                <th><div class="criterion-head">Sea Life Diversity</div></th>
                <th><div class="criterion-head">Coral Reef</div></th>
                <th><div class="criterion-head">Snorkeling</div></th>
                <th><div class="criterion-head">Kayaking</div></th>
                <th><div class="criterion-head">Walking</div></th>
                <th><div class="criterion-head">Camping</div></th>
                <th><div class="criterion-head">Long Stay</div></th>
            </tr>
        </thead>
        <tbody class="datatables-body">
            @Html.DisplayForModel()
        </tbody>
    </table>
</div>