@model StatisticsViewModel

<div id="fillable-table-holder">
    @Html.Partial("_PlaceStatisticsHead", Model)

    @Html.Partial("_PredefinedFiltersPartial", Model)

    @Html.Partial("_TableStatisticsPartial", Model)
</div>
