@model BeachRankings.App.Models.ViewModels.LocationBeachesViewModel

@Styles.Render("~/Content/Internal/location.css")

<h3>@Model.Name</h3>

<hr />

<div id="beaches-result">
    @Html.DisplayFor(model => model.Beaches)
</div>

@Scripts.Render("~/Scripts/Internal/location.js")