<div id="travel-bloggers" class="custom-canvas col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12">
    <section>
        <h2 class="bold">
            Hello, Travel Bloggers!
        </h2>

        <h3 class="h3-short-margin-bottom bold">
            Are you looking for new creative ideas?
        </h3>

        <p>
            For all bloggers who write about beaches, we offer a new innovative tool for accurate
            comparative analysis of any number of beaches.
            <br />
            Absolutely free. No traps.
            <br />
            You can rate and compare beaches by 15 criteria and the thousands of their combinations.
            From this data, you can generate a simple table to post in your article.
        </p>

        <div>
            <h4 class="bold">
                Here is what one such table looks like:
            </h4>

            <div class="example-holder">
                <a href="~/Content/Images/Bloggers/watchlist-criteria-table.png" data-lightbox="watchlist-criteria-table">
                    <img src="~/Content/Images/Bloggers/watchlist-criteria-table.png" />
                </a>
            </div>
        </div>
    </section>

    <section>
        <h4 class="bold">
            Here's how it works in 3 steps:
        </h4>

        <ol>
            <li>
                <h4 class="bold">You can rate any beach you know by 15 criteria in 2 minutes.</h4>

                <div class="example-holder">
                    <a href="~/Content/Images/Bloggers/rate-beach.png" data-lightbox="rate-beach">
                        <img src="~/Content/Images/Bloggers/rate-beach.png" />
                    </a>
                </div>
            </li>

            <li>
                <h4 class="bold">Put your beaches on a watchlist.</h4>

                <p>
                    You can do this by pressing the blue asterisks in the two main types of tables.
                </p>

                <ol>
                    <li>
                        <h4 class="bold">The table of all beaches in your chosen area</h4>

                        <div class="example-holder">
                            <a href="~/Content/Images/Bloggers/criteria-table-watchlist-example.png" data-lightbox="criteria-table-watchlist-example">
                                <img src="~/Content/Images/Bloggers/criteria-table-watchlist-example.png" />
                            </a>
                        </div>
                    </li>

                    <li>
                        <h4 class="bold">The table of the particular beach</h4>

                        <div class="example-holder">
                            <a href="~/Content/Images/Bloggers/beach-details-watchlist-example.png" data-lightbox="beach-details-watchlist-example">
                                <img src="~/Content/Images/Bloggers/beach-details-watchlist-example.png" />
                            </a>
                        </div>
                    </li>
                </ol>
            </li>

            <li>
                <h4 class="bold">Your watchlists are in your profile.</h4>

                <p class="bold">Open your desired watchlist and press the Toggle View button.</p>

                <div class="example-holder">
                    <a href="~/Content/Images/Bloggers/watchlist-toggle.png" data-lightbox="watchlist-toggle">
                        <img src="~/Content/Images/Bloggers/watchlist-toggle.png" />
                    </a>
                </div>
            </li>
        </ol>

        <h4 class="bold">
            Congratulations!
        </h4>

        <p>
            You've generated a table similar to the one at the beginning.
            <br />
            You can now use it in your article and make a qualitative benchmarking on the basis of the exact figures.
        </p>
    </section>

    <section>
        <h4 class="h4-bigger bold">
            Here's how to rate a beach. It's done in 2 ways.
        </h4>

        <ol>
            <li>
                <p>If the beach is in our database, it's easy to find it with our search engine.</p>

                <div class="example-holder">
                    <p>The main table of the beaches in a particular area</p>

                    <a href="~/Content/Images/Bloggers/main-criteria-table.png" data-lightbox="main-criteria-table">
                        <img src="~/Content/Images/Bloggers/main-criteria-table.png" />
                    </a>
                </div>

                <h4 class="bold">On the beach page, the rate button is located at the top right.</h4>

                <div class="example-holder">
                    <a href="~/Content/Images/Bloggers/beach-details-clarifications.png" data-lightbox="beach-details-clarifications">
                        <img src="~/Content/Images/Bloggers/beach-details-clarifications.png" />
                    </a>
                </div>
            </li>

            <li>
                <p>
                    If the beach is not in our database, use <a href="~/Beaches/Add" target="_blank">Add Beach</a> from the main menu.
                </p>

                <p>Here's what you need to fill out.</p>

                <div class="example-holder">
                    <a href="~/Content/Images/Bloggers/add-beach.png" data-lightbox="add-beach">
                        <img src="~/Content/Images/Bloggers/add-beach.png" />
                    </a>
                </div>
            </li>
        </ol>
    </section>

    <section>
        <h4 class="bold">
            There are also interesting and useful things for you, bloggers.
        </h4>

        <ul>
            <li>
                <p class="bold">Our goal is to create the largest crowdsourced database of beaches in the world.</p>
            </li>

            <li>
                <p>With the innovative tool described above, we help bloggers to create quality articles about beaches.</p>
            </li>

            <li>
                <p class="bold">You help us too. With each beach you rate, we expand our database.</p>
            </li>

            <li>
                <p>
                    That's our interest.
                    A large-scale data base for the beaches around the world, enriched by as many people as possible.
                </p>
            </li>
        </ul>
    </section>

    <section>
        <div>
            <h4>
                Every beach has its own page. That's what it looks like.
            </h4>

            <div class="example-holder">
                <a href="~/Content/Images/Bloggers/beach-details-blog-link.png" data-lightbox="beach-details-blog-link">
                    <img src="~/Content/Images/Bloggers/beach-details-blog-link.png" />
                </a>
            </div>

            <div>
                <p>
                    You can place links to your articles on the beach's page.
                    <br />
                    We have no ulterior motives; it's a help-me-help-you situation.
                </p>
            </div>
        </div>
    </section>

    <section>
        <div>
            <h4>
                Contributors have their own profiles as well.
                <br />
                Here's one:
            </h4>

            <div class="example-holder">
                <a href="~/Content/Images/Bloggers/contributor-blog.png" data-lightbox="contributor-blog">
                    <img src="~/Content/Images/Bloggers/contributor-blog.png" />
                </a>
            </div>
        </div>
    </section>

    <section>
        <div>
            <p class="bloggers-ps">
                That is all, dear bloggers.
                <br />
                <i>Find your beaches...</i>
                <br />
                <i>Rate your beaches...</i>
                <br />
                <i>Compare your beaches...</i>
            </p>
        </div>

        <div>
            <p>
                We wish you many wonderful articles about the beaches around the world and a great many readers.
            </p>
        </div>
    </section>
</div>

@Styles.Render("~/Content/Internal/work-with-us.css")
