<div class="custom-canvas col-sm-6 col-sm-offset-3 col-xs-12">
    <h4>
        For questions, suggestions or collaboration, write to <a href="mailto:andreimarkov77@gmail.com">us</a>.
    </h4>
</div>
