<div class="custom-canvas col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12">
    <h3>Quickly find the beach you want</h3>

    <ol>
        <li>
            <h4>The search bar can take in continents, countries, seas, and even beaches</h4>

            <p>
                We type in Thailand into the search bar and select it.
                <br />
                A table with all beaches for which there is information in the database will appear.
                <br />
                The beaches are automatically sorted by their total score.
                <br />

                <div class="example-holder">
                    <a href="~/Content/Images/search-example-table.JPG" data-lightbox="search-example-table">
                        <img src="~/Content/Images/search-example-table.JPG" />
                    </a>
                </div>
            </p>
        </li>

        <li>
            <h4>Choosing our preferred criteria:</h4>

            <ol>
                <li>
                    <h5>
                        Sorting by a single criterion with only a click
                    </h5>

                    <ol>
                        <li>Let’s say we want to find the beach with the purest water</li>
                        <li>Above every criterion, there are sorting arrows</li>
                        <li>We press the arrow above the ‘Water visibility’ column</li>
                        <li>The beaches with the purest water will populate the first few rows</li>
                    </ol>
                </li>

                <li>
                    <h5>
                        Sorting by multiple criteria
                    </h5>

                    <ol>
                        <li>We press the <strong>most important button</strong>, ‘Select criteria’</li>
                        <li>Turn on and off as many criteria as you want</li>
                        <li>You can also use the predefined filters above the table</li>
                    </ol>
                </li>
            </ol>
        </li>
    </ol>

    <hr />

    <div class="example">
        <h4>Example 1</h4>

        <p>
            We are looking for beaches in Thailand suitable for snorkeling near the shore,
            with the best coral reefs and a lot of diversity in its clean water.
            Everything a snorkeling enthusiast could want. Soft and clean sand is something
            we’d like as well. Decent tourist infrastructure would be a nice bonus.
        </p>

        <p>
            So far, we’ve narrowed it down to 8 criteria that a beach in Thailand should live up to.
        </p>

        <p>
            By pressing ‘Change criteria’, we turn off the criteria we don’t need. Here’s what it looks like:
        </p>

        <div class="example-holder">
            <img src="~/Content/Images/criteria-example-1.png" alt="No example image" />
        </div>
    </div>

    <div class="example">
        <h4>Example 2</h4>

        <p>
            We’re looking for a beach in Bulgaria to take our kids to. A beach with soft and clean sand, clean water,
            excellent tourist infrastructure, and the ability to take a walk on and around the beach. Ideally, however,
            there shouldn’t be that many people.
        </p>

        <p>
            We choose the desired options with ‘Select criteria’ and leave out the rest.
        </p>

        <div class="example-holder">
            <img src="~/Content/Images/criteria-example-2.png" alt="No example image" />
        </div>

        <p>
            The table automatically shows us a list of the beaches sorted by our seven criteria.
        </p>

        <p>
            We quickly found the best beaches in Bulgaria to take our children to.
        </p>
    </div>

    <hr />

    <div class="postscript">
        <p>
            We hope the @ViewData["BrandName"] database will be help helpful to you in finding the beaches attractive to you.
            <br />
            Our beach database is still in its infancy. We’d be grateful if you could contribute to it by reviewing a couple of beaches you’ve visited.
            <br />
            You can do so in the <a href="/Beaches/Add">Add Beach</a> page.
            <br />
            Thank you in advance!
        </p>
    </div>
</div>

@Styles.Render("~/Content/Internal/how-to.css")