@{
    ViewBag.Title = "Beach Rankings";
}

@using (@Ajax.BeginForm("Top", "Home", new AjaxOptions
{
    HttpMethod = "Get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "beaches-search-result"
}))
{
    <div class="home-search-header row">
        <input id="main-search-field" name="main-search-field" type="text" placeholder="Search by name, location, country or sea" />
        <input type="submit" value="Go" />
        <div id="search-autocomplete-box"></div>
    </div>
}

<div id="beaches-search-result"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Internal/index.js")
}

@section HomeStyles {
    @Styles.Render("~/Content/Internal/home.css")
}