<div class="wrapper">
    <div>
        <button (click)='redirectToLeaveReview()'>Leave review</button>
    </div>
    <div>
        <p>{{ beach.id }}</p>
        <p>{{ beach.name }}</p>
        <p>{{ beach.addedOn }}</p>
        <p>{{ beach.addedBy }}</p>
        <p>{{ beach.continent }}</p>
        <p>{{ beach.country }}</p>
        <p>{{ beach.l1 }}</p>
        <p>{{ beach.l2 }}</p>
        <p>{{ beach.l3 }}</p>
        <p>{{ beach.l4 }}</p>
        <p>{{ beach.waterBody }}</p>
        <p>{{ beach.location }}</p>
        <p>{{ beach.coordinates }}</p>
        <p>{{ beach.score }}</p>
        <p>{{ beach.sandQuality }}</p>
        <p>{{ beach.beachCleanliness }}</p>
        <p>{{ beach.beautifulScenery }}</p>
        <p>{{ beach.crowdFree }}</p>
        <p>{{ beach.infrastructure }}</p>
        <p>{{ beach.litterFree }}</p>
        <p>{{ beach.feetFriendlyBottom }}</p>
        <p>{{ beach.seaLifeDiversity }}</p>
        <p>{{ beach.coralReef }}</p>
        <p>{{ beach.snorkeling }}</p>
        <p>{{ beach.kayaking }}</p>
        <p>{{ beach.walking }}</p>
        <p>{{ beach.camping }}</p>
    </div>
    <div>
        <div *ngFor="let review of beach.reviews">
            <h3>REVIEW</h3>
            <p>{{ review.text }}</p>
            <p>{{ review.score }}</p>
            <p>{{ review.sandQuality }}</p>
            <p>{{ review.beachCleanliness }}</p>
            <p>{{ review.beautifulScenery }}</p>
            <p>{{ review.crowdFree }}</p>
            <p>{{ review.infrastructure }}</p>
            <p>{{ review.litterFree }}</p>
            <p>{{ review.feetFriendlyBottom }}</p>
            <p>{{ review.seaLifeDiversity }}</p>
            <p>{{ review.coralReef }}</p>
            <p>{{ review.snorkeling }}</p>
            <p>{{ review.kayaking }}</p>
            <p>{{ review.walking }}</p>
            <p>{{ review.camping }}</p>
        </div>
    </div>
</div>