<div class="wrapper">
    <div>
        <ul>
            <li>
                <a routerLink="/">HOME</a>
            </li>
            <li>
                <a routerLink="/beaches/new">ADD BEACH</a>
            </li>
            <li *ngIf="!isLoggedIn">
                <a routerLink="/login">LOGIN</a>
            </li>
            <li *ngIf="!isLoggedIn">
                <a routerLink="/register">REGISTER</a>
            </li>
            <li *ngIf="isLoggedIn">
                <a href="/" (click)="logout()">LOGOUT</a>
            </li>
            <li class="greeting" *ngIf="isLoggedIn">
                <span>Hello, {{ user.username }}</span>
            </li>
        </ul>
    </div>
    <div class="search-bar-container">
        <app-search-bar></app-search-bar>
    </div>
</div>