<div class="wrapper">
    <div>
        <app-search-bar></app-search-bar>
    </div>
    <ul>
        <li>
            <a routerLink="/">Home</a>
        </li>
        <li>
            <a routerLink="/add-beach">Add beach</a>
        </li>
        <li *ngIf="!isLoggedIn">
            <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="!isLoggedIn">
            <a routerLink="/register">Register</a>
        </li>
        <li *ngIf="isLoggedIn">
            <a routerLink="/logout">Logout</a>
        </li>
    </ul>
</div>