<div class="wrapper">
    <legend>{{ model?.name }}</legend>
    <p>
        <input type="text" placeholder="Name" [(ngModel)]="model.name" />
    </p>
    <fieldset [formGroup]="placesForm">
        <div *ngIf="countries">
            <select (change)="onCountryChanged($event)" formControlName="countryList">
                <option value="0">Select a country</option>
                <option *ngFor="let country of countries" [value]="country.id">
                    {{ country.name }}
                </option>
            </select>
        </div>
        <div *ngIf="l1s">
            <select (change)="onL1Changed($event)" formControlName="l1List">
                <option value="0">Select a region</option>
                <option *ngFor="let l1 of l1s" [value]="l1.id">
                    {{ l1.name }}
                </option>
            </select>
        </div>
        <div *ngIf="l2s">
            <select (change)="onL2Changed($event)" formControlName="l2List">
                <option value="0">Select a region</option>
                <option *ngFor="let l2 of l2s" [value]="l2.id">
                    {{ l2.name }}
                </option>
            </select>
        </div>
        <div *ngIf="l3s">
            <select (change)="onL3Changed($event)" formControlName="l3List">
                <option value="0">Select a region</option>
                <option *ngFor="let l3 of l3s" [value]="l3.id">
                    {{ l3.name }}
                </option>
            </select>
        </div>
        <div *ngIf="l4s">
            <select (change)="onL4Changed($event)" formControlName="l4List">
                <option value="0">Select a region</option>
                <option *ngFor="let l4 of l4s" [value]="l4.id">
                    {{ l4.name }}
                </option>
            </select>
        </div>
        <p>
            <input type="text" placeholder="Coordinates" formControlName="coordinates" />
        </p>
    </fieldset>
    <input type="button" (click)="addBeach()" value="Submit" />
</div>