<div>
    <div>
        <div>Text</div>
        <textarea [(ngModel)]="review.text" placeholder="Leave your review here"></textarea>
    </div>
    <div>
        <div>Sand quality</div>
        <input type="text" [(ngModel)]="review.sandQuality" placeholder="Sand quality" />
    </div>
    <div>
        <div>Cleanliness</div>
        <input type="text" [(ngModel)]="review.beachCleanliness" placeholder="Beach cleanliness" />
    </div>
    <div>
        <div>Scenery</div>
        <input type="text" [(ngModel)]="review.beautifulScenery" placeholder="Beautiful scenery" />
    </div>
    <div>
        <div>Crowd-free</div>
        <input type="text" [(ngModel)]="review.crowdFree" placeholder="Crowd-free" />
    </div>
    <div>
        <div>Infrastructure</div>
        <input type="text" [(ngModel)]="review.infrastructure" placeholder="Infrastructure" />
    </div>
    <div>
        <div>Water visibility</div>
        <input type="text" [(ngModel)]="review.waterVisibility" placeholder="Water visibility" />
    </div>
    <div>
        <div>Litter-free</div>
        <input type="text" [(ngModel)]="review.litterFree" placeholder="Litter-free" />
    </div>
    <div>
        <div>Feet-friendly bottom</div>
        <input type="text" [(ngModel)]="review.feetFriendlyBottom" placeholder="Feet-friendly bottom" />
    </div>
    <div>
        <div>Biodiveristy</div>
        <input type="text" [(ngModel)]="review.seaLifeDiversity" placeholder="Sea-life diversity" />
    </div>
    <div>
        <div>Coral reef</div>
        <input type="text" [(ngModel)]="review.coralReef" placeholder="Coral reef" />
    </div>
    <div>
        <div>Snorkeling</div>
        <input type="text" [(ngModel)]="review.snorkeling" placeholder="Snorkeling" />
    </div>
    <div>
        <div>Kayaking</div>
        <input type="text" [(ngModel)]="review.kayaking" placeholder="Kayaking" />
    </div>
    <div>
        <div>Walking</div>
        <input type="text" [(ngModel)]="review.walking" placeholder="Walking" />
    </div>
    <div>
        <div>Camping</div>
        <input type="text" [(ngModel)]="review.camping" placeholder="Camping" />
    </div>
    <div>
        <div>Long-term stay</div>
        <input type="text" [(ngModel)]="review.longTermStay" placeholder="Long-term stay" />
    </div>
    <button (click)="submit()">Submit</button>
</div>