@model ChangeAvatarViewModel

<div class="settings-container custom-canvas col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
    <h3>Change avatar</h3>
    <hr />
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "avatar-form", @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="col-xs-10 col-xs-offset-1">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            
            <div class="form-group">
                <label for="user-avatar" class="control-label col-md-3">Your avatar</label>
                <div class="user-avatar-box col-md-5">
                    <a href="@Model.AvatarPath">
                        <img id="user-avatar" class="img-responsive" src="@Model.AvatarPath" alt="Image" />
                    </a>
                </div>
            </div>

            <div class="form-group">
                <label for="uploader" class="control-label col-md-3">Change avatar</label>
                <div class="col-md-5">
                    <input id="uploader" type="file" name="avatar" class="upload" />
                </div>
                <a id="delete-avatar-link">Or remove it</a>
            </div>
            <sup>Limited to one 250 KB 300x300 JPG or PNG image</sup>
            <div class="form-group">
                <div class="col-xs-12 text-right">
                    <input class="btn btn-reset settings-btn-back" type="button" data-settings-back="" value="Back" />
                    <input id="save-avatar-btn" type="button" value="Save" class="btn btn-cta" />
                </div>
            </div>
        </div>
    }
</div>


