@model IEnumerable<TableRowViewModel>

@{ 
    ViewBag.Title = "Dashboard";
}

@*<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".dashboard-navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>    
</div>*@

<div id="dashboard-result" class="col-xs-12">
    @Html.Partial("Statistics", Model)
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/Internal/dashboard.js")
}

@section UserStyles {
    @Styles.Render("~/Content/Internal/dashboard.css")
}