@model IEnumerable<TableRowViewModel>

@{ 
    ViewBag.Title = "Dashboard";
}

<div id="user-dashboard-header" class="col-xs-6 col-xs-offset-3">
    <ul class="nav navbar-nav">
        <li><span class="a-like-span">My Reviews</span></li>
        <li><span class="a-like-span">Images</span></li>
    </ul>
</div>

<div class="custom-canvas col-xs-12">
    @Html.Partial("Statistics", Model)
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/Internal/dashboard.js")
}

@section UserStyles {
    @Styles.Render("~/Content/Internal/dashboard.css")
}