@model IEnumerable<DashboardImageViewModel>

@{
    if (!this.Request.IsAjaxRequest())
    {
        @Styles.Render("~/Content/Internal/images.css")

        <div id="user-images-container" class="custom-canvas col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            @Html.DisplayForModel()
        </div>
    }
    else
    {
        if (Model.Count() == 0)
        {
            return;
        }

        @Html.DisplayForModel()
    }
}