@model IEnumerable<DashboardImageViewModel>

@Styles.Render("~/Content/Internal/images.css")

<div id="user-images-container" class="custom-canvas col-xs-8 col-xs-offset-2">
    @Html.DisplayForModel()    
</div>