@model TableUserReviewsViewModel

@{
    this.ViewBag.Title = Model.Contributor.UserName + "'s Reviews";
}

<div class="row">
    <div class="contributor-reviews-profile col-xs-12">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-10">
                @Html.DisplayFor(m => m.Contributor)
            </div>
        </div>
    </div>
</div>

@Html.Partial("_TableStatisticsPartial", new StatisticsViewModel { Rows = Model.Reviews })

@section Scripts {
    @Scripts.Render("~/Scripts/Internal/contributors.js")
}

@Styles.Render("~/Content/Internal/contributors.css")
