<table datatable [dtOptions]="options" [dtTrigger]="trigger" class="row-border hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Continent</th>
            <th>Country</th>
            <th>L1</th>
            <th>L2</th>
            <th>L3</th>
            <th>L4</th>
            <th>Water body</th>
            <th>Score</th>
            <th>Sand</th>
            <th>Cleanliness</th>
            <th>Scenery</th>
            <th>Crowdfree</th>
            <th>Infrastructure</th>
            <th>Visibility</th>
            <th>Litterfree</th>
            <th>Bottom</th>
            <th>Diversity</th>
            <th>Reef</th>
            <th>Snorkeling</th>
            <th>Kayaking</th>
            <th>Walking</th>
            <th>Camping</th>
            <th>Long stay</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let beach of beaches">
            <td>{{beach.name}}</td>
            <td>{{beach.continent}}</td>
            <td>{{beach.country}}</td>
            <td>{{beach.l1}}</td>
            <td>{{beach.l2}}</td>
            <td>{{beach.l3}}</td>
            <td>{{beach.l4}}</td>
            <td>{{beach.waterBody}}</td>
            <td>{{beach.score}}</td>
            <td>{{beach.sandQuality}}</td>
            <td>{{beach.beachCleanliness}}</td>
            <td>{{beach.beautifulScenery}}</td>
            <td>{{beach.crowdFree}}</td>
            <td>{{beach.infrastructure}}</td>
            <td>{{beach.waterVisibility}}</td>
            <td>{{beach.litterFree}}</td>
            <td>{{beach.feetFriendlyBottom}}</td>
            <td>{{beach.seaLifeDiversity}}</td>
            <td>{{beach.coralReef}}</td>
            <td>{{beach.snorkeling}}</td>
            <td>{{beach.kayaking}}</td>
            <td>{{beach.walking}}</td>
            <td>{{beach.camping}}</td>
            <td>{{beach.longTermStay}}</td>
        </tr>
    </tbody>
</table>