<input (keyup)='onSearch($event)' />

<div *ngIf="render">
    <div *ngFor="let continent of result?.continents">
        <span>
            <a routerLink="/continents/{{continent.name}}">
                {{continent.name}} ({{continent.beachesCount}} beaches)
            </a>
        </span>
    </div>
    <div *ngFor="let country of result?.countries">
        <span>
            <a routerLink="/countries/{{country.name}}">
                {{country.name}} ({{country.beachesCount}} beaches)
            </a>
        </span>
    </div>
    <div *ngFor="let l1 of result?.l1s">
        <span>
            <a routerLink="/l1s/{{l1.name}}">
                {{l1.name}} ({{l1.beachesCount}} beaches)
            </a>
        </span>
    </div>
    <div *ngFor="let l2 of result?.l2s">
        <span>
            <a routerLink="/l2s/{{l2.name}}">
                {{l2.name}} ({{l2.beachesCount}} beaches)
            </a>
        </span>
    </div>
    <div *ngFor="let l3 of result?.l3s">
        <span>
            <a routerLink="/l3s/{{l3.name}}">
                {{l3.name}} ({{l3.beachesCount}} beaches)
            </a>
        </span>
    </div>
    <div *ngFor="let l4 of result?.l4s">
        <span>
            <a routerLink="/l4s/{{l4.name}}">
                {{l4.name}} ({{l4.beachesCount}} beaches)
            </a>
        </span>
    </div>
    <div *ngFor="let waterBody of result?.waterBodies">
        <span>
            <a routerLink="/waterbodies/{{waterBody.name}}">
                {{waterBody.name}} ({{waterBody.beachesCount}} beaches)
            </a>
        </span>
    </div>
    <div *ngFor="let beach of result?.beaches">
        <span>
            <a routerLink="/beaches/{{beach.id}}">
                {{beach.name}} ({{beach.lastLevel}}, {{beach.country}})
            </a>
        </span>
    </div>
</div>