<input (keyup)='onSearch($event)' />

<div>
    <div *ngFor="let continent of result?.continents">
        <span>
            <a (click)="onContinentClick(continent.name)">
                {{continent.name}} ({{continent.beachesCount}} beaches)
            </a>
        </span>
    </div>
    <div *ngFor="let country of result?.countries">
        <span>{{country.name}} ({{country.beachesCount}} beaches)</span>
    </div>
    <div *ngFor="let l1 of result?.l1s">
        <span>{{l1.name}} ({{l1.beachesCount}} beaches)</span>
    </div>
    <div *ngFor="let l2 of result?.l2s">
        <span>{{l2.name}} ({{l2.beachesCount}} beaches)</span>
    </div>
    <div *ngFor="let l3 of result?.l3s">
        <span>{{l3.name}} ({{l3.beachesCount}} beaches)</span>
    </div>
    <div *ngFor="let l4 of result?.l4s">
        <span>{{l4.name}} ({{l4.beachesCount}} beaches)</span>
    </div>
    <div *ngFor="let waterBody of result?.waterBodies">
        <span>{{waterBody.name}} ({{waterBody.beachesCount}} beaches)</span>
    </div>
    <div *ngFor="let beach of result?.beaches">
        <span>{{beach.name}} ({{beach.lastLevel}}, {{beach.country}})</span>
    </div>
</div>