<div>
    <p>
        <input type="text" [(ngModel)]="model.text" placeholder="Leave your review here" />
    </p>
    <p>
        <input type="text" [(ngModel)]="model.sandQuality" placeholder="Sand quality" />
    </p>
    <p>
        <input type="text" [(ngModel)]="model.beachCleanliness" placeholder="Beach cleanliness" />
    </p>
    <p>
        <input type="text" [(ngModel)]="model.beautifulScenery" placeholder="Beautiful scenery" />
    </p>
    <p>
        <input type="text" [(ngModel)]="model.crowdFree" placeholder="Crowd-free" />
    </p>
    <p>
        <input type="text" [(ngModel)]="model.infrastructure" placeholder="Infrastructure" />
    </p>
    <p>
        <input type="text" [(ngModel)]="model.waterVisibility" placeholder="Water visibility" />
    </p>
    <p>
        <input type="text" [(ngModel)]="model.litterFree" placeholder="Litter-free" />
    </p>
    <p>
        <input type="text" [(ngModel)]="model.feetFriendlyBottom" placeholder="Feet-friendly bottom" />
    </p>
    <p>
        <input type="text" [(ngModel)]="model.seaLifeDiversity" placeholder="Sea-life diversity" />
    </p>
    <p>
        <input type="text" [(ngModel)]="model.coralReef" placeholder="Coral reef" />
    </p>
    <p>
        <input type="text" [(ngModel)]="model.snorkeling" placeholder="Snorkeling" />
    </p>
    <p>
        <input type="text" [(ngModel)]="model.kayaking" placeholder="Kayaking" />
    </p>
    <p>
        <input type="text" [(ngModel)]="model.walking" placeholder="Walking" />
    </p>
    <p>
        <input type="text" [(ngModel)]="model.camping" placeholder="Camping" />
    </p>
    <p>
        <input type="text" [(ngModel)]="model.longTermStay" placeholder="Long-term stay" />
    </p>
    <input type="button" (click)="submit()" value="Submit" />
</div>