@using BeachRankings.App.Utils.Extensions
@model BeachRankings.App.Models.ViewModels.AutocompletePrimaryViewModel

<li class="autocomplete-item primary-li">
    <a href="/PrimaryDivisions/BeachesPartial/@Model.Id">
        <h4 class="disable-block"><strong>@Model.Name</strong></h4>
        <h5 class="disable-block"><i>@Html.PluralizeValue(Model.BeachCount, "beach")</i></h5>
    </a>    
</li>