@using BeachRankings.App.Utils.Extensions
@model BeachRankings.App.Models.ViewModels.AutocompleteCountryViewModel

<li class="autocomplete-item country-li">
    <a href="/Countries/BeachesPartial/@Model.Id">
        <h4 class="disable-block"><strong>@Model.Name</strong></h4>
        <h5 class="disable-block"><i>(@Html.PluralizeValue(Model.BeachCount, "beach"))</i></h5>
    </a>    
</li>