@model App.Models.ViewModels.AutocompleteBeachViewModel

<div class="row">
    <div>
        <span><strong>@Model.Name</strong></span>
    </div>
    <div>
        <span><i>@Model.Location</i> - @Model.WaterBody</span>
    </div>
</div>