@model AutocompletePrimaryViewModel

<li class="autocomplete-item primary-li">
    <a href="/PrimaryDivisions/BeachesPartial/@Model.Id">
        <h4 class="disable-block"><strong>@Model.Name, @Model.Country</strong></h4>
        <h5 class="disable-block"><i>(@Html.PluralizeValue(Model.BeachCount, "beach"))</i></h5>
    </a>    
</li>