@using BeachRankings.App.Utils
@model BeachRankings.App.Models.ViewModels.AutocompleteViewModel

<li>
    <a href="/Areas/Beaches/@Model.Id">
        <h4 class="disable-block"><strong>@Model.Name</strong></h4>
        <h5 class="disable-block"><i>@Html.PluralizeValue(Model.BeachCount, "beach")</i></h5>
    </a>    
</li>