@using BeachRankings.App.Utils
@model BeachRankings.App.Models.ViewModels.AutocompleteWaterBodyViewModel

<li>
    <h4 class="disable-block"><strong>@Model.Name</strong></h4>
    <h5><i>@Html.PluralizeValue(Model.BeachCount, "beach")</i></h5>
</li>