@model AutocompleteBeachViewModel

<li class="autocomplete-item beach-li">
    <a href="/Beaches/Details/@Model.Id">
        <h4 class="disable-block"><strong>@Model.Name</strong></h4>
        <h6 class="disable-block"><i>@Html.ParseNullString(Model.SecondaryDivision, Model.PrimaryDivision), @Model.Country</i></h6>
    </a>    
</li>