@model AutocompleteCountryViewModel

<li class="autocomplete-item country-li">
    <a href="/Countries/Statistics/@Model.Id">
        <h4 class="disable-block"><strong>@Model.Name</strong></h4>
        <h6 class="disable-block"><i>@Model.Continent</i></h6>
        <h5 class="disable-block"><i>(@Html.PluralizeValue(Model.BeachCount, "beach"))</i></h5>
    </a>    
</li>