@model DashboardImageViewModel

<div class="image-row row">
    <div class="col-xs-3">
        <h4>@Model.BeachName</h4>
    </div>
    <div class="images-container col-xs-8">
        @Html.DisplayFor(model => model.Paths)       
    </div>
</div>

<hr />