@{
    ViewBag.Title = "Confirm Email";
}

<div class="custom-canvas col-sm-6 col-sm-offset-3 col-xs-12">
    <h4>
        Thank you for confirming your email. Please 
        @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }).
    </h4>
</div>
