@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="custom-canvas col-sm-6 col-sm-offset-3 col-xs-12">
    <h4>
        We've reset your password. Please 
        @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </h4>
</div>
