@model IEnumerable<ContributorRowViewModel>

@{
    this.ViewBag.Title = "Top Contributors";
}

<div id="contributors-container" class="custom-canvas col-md-10 col-md-offset-1 col-xs-12">
    <table id="contributors-table" class="display compact">
        <thead>
            <tr>
                <th></th>
                <th>User</th>
                <th>
                    <div class="text-center">
                        <span>CQR</span>
                        <div class="custom-popup-container">
                            <span class="info-icon glyphicon glyphicon-info-sign"></span>
                            <div class="custom-popup" style="display: none;">
                                Certificate of quality rankings
                            </div>
                        </div>
                    </div>
                </th>
                <th class="text-center">Level</th>
                <th class="text-center">Countries</th>
                <th class="text-center">Beaches</th>
                <th class="dispensable-col text-center">Thanked</th>
                <th class="dispensable-col text-center">Blog posts</th>
                <th>Top Country</th>
                <th>Blog</th>
            </tr>
        </thead>

        <tbody>
            @Html.DisplayForModel()
        </tbody>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/Internal/contributors.js")
}

@Styles.Render("~/Content/Internal/contributors.css")
