#beach-details-container {
    margin: 0 auto;
    margin-top: 20px;
}

.beach-aside {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    border: none;
}

.beach-head {
    padding: 15px;
    margin-left: 15px;
}

.beach-name {
    margin-left: 20px;
    padding-left: 0px;
}

    .beach-name h2 {
        margin: 0;
        display: inline-block;
    }

        .beach-name h2 i {
            font-size: 15px;
        }

    .beach-name h4 {
        font-weight: lighter;
        font-size: 15px;
    }

.beach-score-box-extended {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.beach-description-details {
    padding-right: 0;
}

#delete-beach-form {
    text-align: right;
}

.beach-export {
    font-size: 25px;
    margin-right: 30px;
}