#contributors-container {
    padding: 10px;   
    overflow: auto;
}

.contributor {
    margin-bottom: 5px;
}

.user-name {
    margin-top: 0px;
    margin-bottom: 5px;
}

.contributor-reviews-profile .contributor {
    width: 50%;
    margin: 0 auto;
}

.contributor-reviews-profile hr {
    margin-bottom: 0px;
    margin-top: 0px;
}

/* TOP TABLE */

#contributors-table {
    width: 100%;
    overflow: auto;
}

.contributor-table-row td {
    padding: 0.1em;
    padding-bottom: 0.5em;
}

.contributor-row-avatar-box {
    max-height: 20%;
    height: 50px;
}

.inside-td-wrapper {
    text-align: left;
}

.inside-td-center-wrapper {
    text-align: center;
}

.contributors-bbc {
    padding-left: 0px;
    list-style-type: none;
}

table.dataTable.display tbody tr.odd > .sorting_1 {
    background-color: #f1f1f1;
}

table.dataTable.display tbody tr.even > .sorting_1 {
    background-color: #fafafa;
}

/* MEDIA QUERIES */

@media all and (max-width: 991px) {
    .contributor-row-avatar-box {
        display: none;
    }
}

@media all and (max-width: 768px) {
    th {
        font-size: 12px;
    }

    td {
        font-size: 10px;
    }
}

@media all and (max-width: 480px) {
    .dispensable-col {
        display: none;
    }
}