/* BEACH CRITERIA HORIZONTAL TABLE */
.main-wrapper .cv-table-wrapper {
    height: 216px;
    overflow-x: auto;
    margin-bottom: 10px;
}

.main-wrapper .cv-table {
    width: 99%;
}

    .main-wrapper .cv-table .criterion-number {
        font-size: 10px;
        position: relative;
        top: -53px;
    }

    .main-wrapper .cv-table th.rotate:not(.criterion-number) {
        height: 143px;
    }

    .main-wrapper .cv-table th.rotate > div:not(.criterion-number) {
        transform: translate(0px, 43px) rotate(270deg);
        width: 30px;
        font-size: 12px;
    }

    .main-wrapper .cv-table th.rotate.cv-score > div {
        font-size: 15px;
    }

/* REVIEWS AND COMMON CRITERIA HORIZONTAL TABLE */
.cv-table .criterion-number {
    font-size: 10px;
    position: relative;
    top: -43px;
}

.criterion-heading {
    width: 100%;
    margin: 0 auto;
}

.cv-beach {
    background-color: #f9d054;
}

.cv-water {
    background-color: #5dbcf7;
}

.cv-activities {
    background-color: #6bff6b;
}

.cv-score {
    background-color: #dcc120
}

    .cv-score > div {
        font-size: 15px;
    }

.cv-table-wrapper {
    height: 187px;
    overflow-x: auto;
}

.cv-table {
    border-collapse: collapse;
    border-radius: 1px;
    box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
}

    .cv-table > tbody tr {
        border-bottom: 2px solid #ddd;
    }

    .cv-table > tbody td {
        border-right: 2px solid #ddd;
        font-size: 15px;
    }

        .cv-table > tbody td > div {
            text-align: center;
            padding: 5px;
        }

th.rotate:not(.criterion-number) {
    height: 116px;
    white-space: nowrap;
}

th.rotate > div:not(.criterion-number) {
    transform: translate(0, 37px) rotate(270deg);
    width: 30px;
}

    th.rotate > div:not(.criterion-number) > span {
        padding: 6px 5px;
    }

.cv-beach-name {
    max-width: 200px;
}

.cv-header-head {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    padding: 1px 0 1px 0;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

    .cv-header-head > div > span {
        padding: 2px;
    }

tr th.cv-score {
    border-right: 2px solid #ddd;
}

.cv-header-criteria {
    border-bottom: 2px solid #ddd;
}

    .cv-header-criteria th {
        border-right: 2px solid #ddd;
    }

    .cv-header-criteria > th {
        text-align: center;
    }

/* WATCHLIST CRITERIA TABLES */
.watchlist-criteria-wrapper .cv-table-wrapper {
    height: 500px;
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
    .cv-table-wrapper {
        height: 180px;
    }
}

@media (max-width: 990px) {
    .cv-table-wrapper {
        height: 200px;
    }
}

@media (max-width: 768px) {
    .criteria-table {
        margin-top: 5px;
        font-size: 15px;
    }
}
