.settings-container {
    margin-top: 20px;
}

.settings-container a {
    cursor: pointer;
}

.settings-container .form-group label {
    text-align: left;
}

.settings-container .form-group input {
    border-radius: 1px;
}

.settings-btn-back {
    margin-right: 10px;
}

#action-message-box {
    margin-top: 10px;
}

.dashboard-img-container {
    width: 70px;
    height: 50px;
}

#level-info {
    width: 55px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    top: -10px;
    left: 15px;
    z-index: 1;
}

#points {
    position: relative;
    top: -10px;
}

.user-overview-helper {
    position: absolute;
    height: 40px;
    width: 100px;
    font-weight: lighter;
    border-radius: 1px;
    color: white;
    background-color: rgba(33, 38, 45, 0.7);
}