#table-result_wrapper {
    margin-top: 20px;
}

    #table-result_wrapper th {
        height: 100px;
        vertical-align: bottom;
        background-color: white;
    }

.datatables-body {
    font-size: 11px;
}

.dataTables_scrollBody .column-filter {
    z-index: -1;
}

.place-head {
    font-size: 13px;
    text-align: left;
}

table.dataTable.display tbody tr.odd > .sorting_1 {
    background-color: #ffd031;
}

table.dataTable.display tbody tr.even > .sorting_1 {
    background-color: #f9a934;
}

.column-filter {
    padding: 0px 5px 0px 5px;
    margin-bottom: 2px;
    font-weight: normal;
    display: block;
    position: absolute;
    bottom: 20%;
    max-width: 100px;
}

.criterion-head {
    -webkit-transform: translate(-7px, -3px) rotate(-69deg);
    transform: translate(-7px, -3px) rotate(-69deg);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    position: absolute;
    font-weight: normal;
    font-size: smaller;
    white-space: nowrap;
    text-align: center;
}

.info-icon {
    cursor: pointer;
    font-size: 20px;
}

#dt-popup-holder {
    display: inline;
}

.custom-popup-dt {
    position: absolute;
    font-style: italic;
    left: 0px;
    top: 49px;
    z-index: 9999;
    width: 200px;
    padding: 5px;
    background-color: white;
    -webkit-box-shadow: -1px -1px 5px 0px rgba(148,148,148,1);
    -moz-box-shadow: -1px -1px 5px 0px rgba(148,148,148,1);
    box-shadow: -1px -1px 5px 0px rgba(148,148,148,1);
    text-align: justify;
}

div.dt-buttons {
    float: right;
}

#table-result_filter {
    margin-left: 30px;
    float: left;
    overflow: auto;
}

/* SELECT CRITERIA BUTTON */
a.dt-button, div.dt-button-collection {
    width: 630px;
}

a.dt-button.buttons-collection.buttons-colvis {
    font-size: 1em;
    font-weight: bolder;
    background-image: linear-gradient(to bottom, #ff8c00 100%, #ff8c00 100%);
}

div.dt-button-collection a.dt-button.active:not(.disabled) {
    background-image: linear-gradient(to bottom, #ff8c00 0%, #ff8c00 100%);
}

/* MEDIA QUERIES */

@media (max-width: 1300px) {
    a.dt-button, div.dt-button-collection {
        width: 530px;
    }
}

@media (max-width: 1200px) {
    a.dt-button, div.dt-button-collection {
        width: 430px;
    }
}

@media (max-width: 1100px) {
    a.dt-button, div.dt-button-collection {
        width: 330px;
    }
}

@media (max-width: 1000px) {
    a.dt-button, div.dt-button-collection {
        width: 230px;
    }
}

@media (max-width: 990px) {
    a.dt-button, div.dt-button-collection {
        width: 200px;
    }
}
