.home-search-header {
    text-align: center;
    height: 35px;
}

#main-search-field {
    width: 60%;
    height: 100%;
    border: 0px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 1px;
}

.home-autocomplete-box {
    width: 60%;
    display: inline-block;
}

#beaches-search-result .row {
    margin-bottom: 0px;
}

.selected-item {
    background-color: lightgray;
}