.home-search-header {
    width: 100%;
    text-align: center;
    height: 75px;
    background-color: #00b1ff;
}

#main-search-field {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    height: 50%;
    border: 0px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 1px;
}

.home-autocomplete-box {
    position: relative;
    top: 25%;
    width: 50%;
    display: inline-block;
    border: 1px solid rgb(233, 233, 233);
    border-top: none;
}

.selected-item {
    background-color: lightgray;
}

/* MEDIA QUERIES */
@media (max-width: 480px) {
    #main-search-field {
        width: 70%;
    }
}

@media (max-width: 320px) {
    #main-search-field {
        width: 100%;
    }
}