.custom-canvas h3, h4 {
    text-align: left;
}

.custom-canvas ol li {
    text-align: left;
}

.example p {
    text-align: left;
}

.postscript {
    text-align: left;
    line-height: 30px;
}

.postscript p {
    font-weight: bold;
}