#user-images-container {
    margin-top: 20px;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.image-row {
    margin-top: 5px;
}

.images-container {
    max-height: 60px;
    text-align: left;
}

    .images-container .dashboard-image-wrapper {
        height: 60px;
        width: 90px;
        display: inline-block;
    }

.remove-image {
    position: relative;
    top: -40px;
    left: 90px;
    color: #281c1c;
}

    .remove-image:hover {
        color: black;
    }
