.custom-canvas {
    padding-left: 30px;
}

.home-h2 {
    font-size: 27px;
}

h4 {
    text-align: left;
}

ol li {
    list-style-type: disc;
    text-align: left;
    font-size: 17px;
}

/* MEDIA QUERIES */
@media (max-width: 460px) {
    h4 {
        padding: 3px;
    }
}