#beaches-result {
    padding: 10px;
}

.concise-beach {
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 5px;
    height: 150px;
    width: 70%;
    background: rgba(161, 247, 255, 0.25);
}

.concise-beach-desc {
    padding: 15px;
    text-align: left !important;
}

.score-container {
    height: 50%;
    text-align: right;
}

.score-reviews-count {
}

.beach-thumbnail {
    width: 100%;
    height: 100%;
}