html {
    margin: 0px;
}

body {    
    background-color: #efd9c1;   
}

.header-wrapper {
    margin: 0 auto;
}

.container {
    width: 100%;
    text-align: center;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    background-color: #77D9FF;
    border: 0;
    display: block;
}

.navbar .container {
    width: 100%;
    color: black;
}