#location-beaches-container {
    padding: 10px;
}

.concise-beach {
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 5px;
    background: rgba(161, 247, 255, 0.25);
}

.score-container {
    height: 50%;
    text-align: right;
}

.beach-thumbnail {
    max-height: 250px;
    width: 100%;
}

    .beach-thumbnail a img {
        max-height: 250px;
        width: 100%;
    }

/* MEDIA QUERIES */
@media (max-width: 768px) {
    .btn-cta {
        width: 100%;
    }

    .already-rated-holder {
        text-align: center;
    }
}