@model IEnumerable<ConciseReviewViewModel>

@{
    if (!this.Request.IsAjaxRequest())
    {
        <div id="beach-details-reviews-container" class="beach-reviews-container col-xs-offset-3 col-xs-8">
            @Html.DisplayForModel()
        </div>
    }
    else
    {
        if (Model.Count() == 0)
        {
            return;
        }

        @Html.DisplayForModel()
    }
}