@model AddBeachViewModel

@{
    ViewBag.Title = "Best Beaches";
}

<div id="best-beaches-container" class="custom-canvas col-xs-10 col-xs-offset-1">
    <a href="/Beaches/Top?criterion=11&countryId=1">Top 25 for snorkeling in Bulgaria</a>
</div>