@model BestBeachesViewModel

@{
    ViewBag.Title = "Best Beaches";
}

<div id="best-beaches-container" class="custom-canvas col-xs-10 col-xs-offset-1">
    <div class="row">
        <div class="col-xs-4">
            <h4>Europe</h4>
            <a class="display-block" href="/Beaches/Statistics?continentId=@Model.EuropeId">Top 25</a>
            <a class="display-block" href="/Beaches/Statistics?continentId=@Model.EuropeId&criterionId=@Model.SnorkelingId">Top 25 Snorkeling</a>
            <a class="display-block" href="/Beaches/Statistics?continentId=@Model.EuropeId&criterionId=@Model.CampingId">Top 25 Camping</a>
            <a class="display-block" href="/Beaches/Statistics?continentId=@Model.EuropeId&criterionId=@Model.LongStayId">Top 25 Long-term Stay</a>
        </div>
        <div class="col-xs-4">
            <h4>Mediterranean</h4>
            <a class="display-block" href="/Beaches/Statistics?waterBodyId=@Model.MediterraneanId">Top 25</a>
            <a class="display-block" href="/Beaches/Statistics?waterBodyId=@Model.MediterraneanId&criterionId=@Model.SnorkelingId">Top 25 Snorkeling</a>
            <a class="display-block" href="/Beaches/Statistics?waterBodyId=@Model.MediterraneanId&criterionId=@Model.CampingId">Top 25 Camping</a>
            <a class="display-block" href="/Beaches/Statistics?waterBodyId=@Model.MediterraneanId&criterionId=@Model.LongStayId">Top 25 Long-term Stay</a>
        </div>
        <div class="col-xs-4">
            <h4>Caribbean</h4>
            <a class="display-block" href="/Beaches/Statistics?waterBodyId=@Model.CaribbeanId">Top 25</a>
            <a class="display-block" href="/Beaches/Statistics?waterBodyId=@Model.CaribbeanId&criterionId=@Model.SnorkelingId">Top 25 Snorkeling</a>
            <a class="display-block" href="/Beaches/Statistics?waterBodyId=@Model.CaribbeanId&criterionId=@Model.CampingId">Top 25 Camping</a>
            <a class="display-block" href="/Beaches/Statistics?waterBodyId=@Model.CaribbeanId&criterionId=@Model.LongStayId">Top 25 Long-term Stay</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-4">
            <h4>Greece</h4>
            <a class="display-block" href="/Beaches/Statistics?countryId=@Model.GreeceId">Top 25</a>
            <a class="display-block" href="/Beaches/Statistics?countryId=@Model.GreeceId&criterionId=@Model.SnorkelingId">Top 25 Snorkeling</a>
            <a class="display-block" href="/Beaches/Statistics?countryId=@Model.GreeceId&criterionId=@Model.CampingId">Top 25 Camping</a>
            <a class="display-block" href="/Beaches/Statistics?countryId=@Model.GreeceId&criterionId=@Model.LongStayId">Top 25 Long-term Stay</a>
        </div>
        <div class="col-xs-4">
            <h4>Turkey</h4>
            <a class="display-block" href="/Beaches/Statistics?countryId=@Model.TurkeyId">Top 25 </a>
            <a class="display-block" href="/Beaches/Statistics?countryId=@Model.TurkeyId&criterionId=@Model.SnorkelingId">Top 25 Snorkeling</a>
            <a class="display-block" href="/Beaches/Statistics?countryId=@Model.TurkeyId&criterionId=@Model.CampingId">Top 25 Camping</a>
            <a class="display-block" href="/Beaches/Statistics?countryId=@Model.TurkeyId&criterionId=@Model.LongStayId">Top 25 Long-term Stay</a>
        </div>
        <div class="col-xs-4">
            <h4>Spain</h4>
            <a class="display-block" href="/Beaches/Statistics?countryId=@Model.SpainId">Top 25</a>
            <a class="display-block" href="/Beaches/Statistics?countryId=@Model.SpainId&criterionId=@Model.SnorkelingId">Top 25 Snorkeling</a>
            <a class="display-block" href="/Beaches/Statistics?countryId=@Model.SpainId&criterionId=@Model.CampingId">Top 25 Camping</a>
            <a class="display-block" href="/Beaches/Statistics?countryId=@Model.SpainId&criterionId=@Model.LongStayId">Top 25 Long-term Stay</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-4">
            <h4>Italy</h4>
            <a class="display-block" href="/Beaches/Statistics?countryId=@Model.ItalyId">Top 25</a>
            <a class="display-block" href="/Beaches/Statistics?countryId=@Model.ItalyId&criterionId=@Model.SnorkelingId">Top 25 Snorkeling</a>
            <a class="display-block" href="/Beaches/Statistics?countryId=@Model.ItalyId&criterionId=@Model.CampingId">Top 25 Camping</a>
            <a class="display-block" href="/Beaches/Statistics?countryId=@Model.ItalyId&criterionId=@Model.LongStayId">Top 25 Long-term Stay</a>
        </div>
        <div class="col-xs-4">
            <h4>France</h4>
            <a class="display-block" href="/Beaches/Statistics?countryId=@Model.FranceId">Top 25</a>
            <a class="display-block" href="/Beaches/Statistics?countryId=@Model.FranceId&criterionId=@Model.SnorkelingId">Top 25 Snorkeling</a>
            <a class="display-block" href="/Beaches/Statistics?countryId=@Model.FranceId&criterionId=@Model.CampingId">Top 25 Camping</a>
            <a class="display-block" href="/Beaches/Statistics?countryId=@Model.FranceId&criterionId=@Model.LongStayId">Top 25 Long-term Stay</a>
        </div>
    </div>
    <hr />
</div>